/* ivory FCFAED black cherry 6C0F16 bridal heath fffaf4*/

.birthstone-bounce-regular {
  font-family: "Birthstone Bounce", cursive;
  font-weight: 400vw;
  font-style: normal;
}

.birthstone-bounce-medium {
  font-family: "Birthstone Bounce", cursive;
  font-weight: 500vw;
  font-style: normal;
}

.libertinus-mono-regular {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400vw;
  font-style: normal;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: "Libertinus Mono"; 
    background-color:  #fffaf4;
    text-align: left;
    color: #333333;
  }

  h1{
    font-family: "Birthstone Bounce";
    font-size: 8em;
    line-height: .85em;
    text-shadow: 2px 4px 0px #bc9249;
    color: #333333;
  }
  h2{
    font-family: "Birthstone Bounce";
    text-align: justify;
    font-size: 3em;
    color: #333333;
  }
  h3{
    font-family:  "Libertinus Mono";
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.5em; 
    color: #333333;
  }
  h4{
    font-family: "Birthstone Bounce";
    text-align: justify;
    font-weight: 500;
    font-size: x-large;
    font-weight: bold;
    color: #333333;
  }
  p{
    font-family: "Libertinus Mono";
    text-align: justify;
    font-weight: 1.25em;
    font-size: large;
    color: #333333;
  }

  p, a, h1, h2, h3 {
  max-width: 100%;
  overflow-wrap: break-word;
  hyphens: auto;
}
  
  /* header/page title */

  .header {
    font-size: 4em;
    text-align: center;
    bottom: 50px;

  }
  
    /* Main content */
 main, html{
    display: flexbox;
    height: 100%;
 }
  /* Images */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(#fffaf400, #fffaf400), url("images/walking_shot_sqr.jpeg");
  
    /* Set a specific height */
    height: 90vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top:50px;
    margin-bottom: 50px;
  }

  .hero-siegel {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); /* halb über dem Rand */
  width: 100px;
  z-index: 10; /* liegt über dem Bild */
}


img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  
}
  /* Place text on the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-shadow: -2px 10px 4px #333333;
    color: #fffaf4;

  }
  .hero-titel{
    position: relative;
    top: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 50px;
    text-align: center;
  }



   /* Menu */
  .menubtn {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 2.5px 7.5px;
    border-radius: 3px;
    background-color: #fffaf469;
    z-index: 99;
  }
 
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #333333;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 99;
  }
    .scrolled .bar1,
    .scrolled .bar2,
    .scrolled .bar3 {
    background-color: #fffaf469;
    }
    .light .bar1,
    .light .bar2,
    .light .bar3 {
      background-color: #333333;
    }

  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


 
  .menubtn:hover, .menubtn:focus {
    background-color: #fffaf469;
  }
  
  .toggle-menu {
    position: fixed;
    display: inline-block;
    left: 1%;
    top:  .5%;
    z-index: 99;
  }
  
  .menu-content {
    display: none;
    position: absolute;
    background-color: #bc9249b5;
    border-radius: 5px;
    min-width: 160px;
    overflow: auto;
    z-index: 99;
  }
  
  .menu-content a {
    color: #333333;
    opacity: 100%;
    background-color: #f1ccc400;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 99;
    text-align: center;
  }

  .menu-content a.active {
    font-weight: bold;
    background-color: #bc9249;    
}
  .toggle-menu a:hover {
    background-color: #bc9249; 
    font-weight: bold;
  }
  
  .show {display: block;}

.google-form {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.google-maps{
  position: relative;
  width: 100%;
  padding-bottom: 120%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.button{
  position: relative;
  background-color: #bc924900;
  border: 1.5px solid #333333;
  box-shadow: 0 0 8px #333333;
  border-radius: 5px;
  width: 75%;
  cursor: pointer;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 auto;
}
.hero_button{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); /* halb über dem Rand */
  width: 100px;
  z-index: 11; /* liegt über dem Bild */
  cursor: pointer;
  margin: 0 auto;
  border-radius: 50px;
}

.button:hover{
  background-color: #bc9249;
}
.button-content a{
  color: #333333;
  opacity: 100%;
  background-color: #f1ccc400;
  text-decoration: none;
  display: block;
}

.footer{
  display: flex;
}
.row {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.nonresponsive_column{
  display: flex;
  float: left;
  width: 50%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

.lower_column {
  display: flex;
  width: 50%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%; 
  align-items: center;
}

.head_column {
  display: flex;
  width: 50%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  align-items: center;
  justify-content: center;
}

.oneThird_column {
  display: flex;
  float: left;
  width: 30%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%; 
  align-items: center;
  justify-items: center;
}

.twoThird_column {
  display: flex;
  float: left;
  width: 60%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  align-items: center;
}

.small_column {
    display: flex;
    width: 25%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
    align-items: center;  
  }

  .big_column {
    display: flex;
    width: 75%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: left;
    align-items: center;  
  }
 
.card {
    background-color: #bc924999;
    width: 100%;
    min-height: 2em;
    display: flex;
    align-items: center;
  }
.card_transparent {
  background-color: #f1ccc400;
  width: 100%;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 850px) {
   .row{
    flex-direction: column;
    align-items: center;
   }

   .head_column{
    order: 1;
    margin-bottom: 5%;
    width: 100%
   }

   .lower_column{
    order: 2;
    width: 100%
   }
   .small_column{
    order: 2;
    width: 100%;
   }
   .big_column{
    order: 1;
    width: 100%;
    margin-bottom: 5%;
   }

   .oneThird_column{
    order: 1;
    width: 100%;
   }
   .twoThird_column{
    order:2;
    width: 100%;
   }
  }

/* Style the Image Used to Trigger the Modal */
#taxiJPG {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#taxiJPG:hover {opacity: 0.7;}

#hotelJPG {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#hotelJPG:hover {opacity: 0.7;}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fffaf4; /* Fallback color */
  background-color: #fffaf499;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 35px;
  right: 35px;
  width: 30px;
  height: 5px;
  background-color: #333333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.close:hover,
.close:focus {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 850px){
  .modal-content {
    width: 100%;
  }
}